body {background-color: #faebd6;
}


h1 {color: #ff0000;
}


p {display: block;
    margin-top: 3em;
    font-size: 1.4em;
}


#paragraf-pierwszy {color: #a42423;
}


#paragraf-drugi {color: #00008f;
}